@charset "UTF-8";

* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }
 .towContainer {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 100px;
     margin-bottom: 4rem;
 }
 .togetherh2 {
     width: 100%;
     text-align: right;
     margin: 5rem auto;
 }
 .togetherWriteForm{
     width: 80%;
     display: flex;
     justify-content: center;
 }
.togetherWriteInput{
    width: 58%;
    display: flex;
    flex-direction: column;
    padding-right: 8rem;
    align-items: center;
}
.togetherWriteInputSubmit{
     width: 10rem;
     height: 1.7rem;
     border: none;
     background-color: #032805;
     color: white;
     margin: 2rem 0;
}
.togetherWriteInput1{
     border: none;
     border-bottom: 1px solid black;
     padding-bottom: 0.4rem;
     width: 99%;
     margin-bottom: 1rem;
}
.togetherWriteInput2{
     border: none;
     height: 60vh;
     margin-top: 1rem;
     width: 100%;
}
.togetherWriteSelect{
     border: 1px solid black;
     border-radius: 5%;
     padding: 3rem;
     width: 26%;
     margin-top: 5rem;
}
.togetherWriteSelect > *:not(:last-child){
    margin-bottom: 1rem;
}
.togetherSub1{
    margin-top: 1rem;
    display: flex;
    width: 100%;
}
.togetherSub5{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
}
.togetherSub2{
	margin-top: 1rem;
}
.togetherSub1Img{
    max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 300px;
}
.togetherSub1Button{
    border: none;
    border-radius: 20%;
    background-color: #FFFDDE;
    padding: 0.4rem 1.2rem;
    cursor: pointer;
    margin-right: 1rem;
}
.togetherSub1Button:hover{
    background-color: #032805;
    color: white;
    border: none;
    border-radius: 20%;
    padding: 0.4rem 1.2rem;
    cursor: pointer;
    margin-right: 1rem;
}
.togetherSub1Button.active{
	background-color: #032805;
	color: white;
}
.togetherSub1Div{
    margin-left: 1rem;
    align-items: center;
}
.searchForm{
	display: flex;
	padding-left: 0;
	height: 1.8rem;
	margin-bottom: 0.5rem;
}
.searchbar{
	width: 10rem;
	height: 100%;
/* 	height: 1.8rem; */
/* 	border-right: none; */
/* 	border-top-left-radius: 10%; */
	border: 1px solid lightgray;
/* 	border-bottom-left-radius: 10%; */
}
.togetherSub1DivP{
	margin-bottom: 0.3rem;
	border: none;
	width: 100%;
	pointer-events: none;
	resize: none;
}
.res{
	width: 2.7rem;
	height: 100%;
	border: none;
	background-color: #041601;
	color: white;
	display: flex;
	text-align: center;
	margin: 0px;
} 
.datetimes{
	width: 80%;
	height: 1.7rem;
	margin-top: 0.3rem;
	border: none;
	border-bottom: 1px solid lightgray;
}
.togetherSub5Strong{
	min-width:17%;
}
.numberOfPeople{
	margin-right: 1rem;
	width: 2.5rem;
}
/* .togetherSub1DivInput{ */
/*     height: 1.5rem; */
/*     margin-bottom: 0.5rem; */
/* } */
/* .togetherSub1DivButton{ */
/*     height: 1.5rem;; */
/*     border: none; */
/*     background-color: #032805; */
/*     color: white; */
/*     width: 2.7rem; */
/* } */