<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bjs">
	<select id="count" resultType="int">
		select count(*) from board_with where t_active = 0
	</select>
	<select id="count2" parameterType="Map" resultType="int">
		select count(*) from board_with b 
		where b.t_active = 0 and 
	    <choose>
	        <when test="searchType == '제목'">
	            b.t_subject like concat('%', #{searchKeyword}, '%')
	        </when>
	        <when test="searchType == '내용'">
	            b.t_content like concat('%', #{searchKeyword}, '%')
	        </when>
	        <when test="searchType == '캠핑지'">
	            b.t_campname like concat('%', #{searchKeyword}, '%')
	        </when>
	    </choose>
	</select>
	<select id="to_list" resultType="tvo">
		select b.*, m.member_nickname, m.member_dob, m.member_img, m.member_grade, m.member_gender
		from board_with b
		inner join members m on b.member_idx = m.member_idx
		where b.t_active = 0
		order by b.t_idx desc
		limit #{limit} offset #{offset}
	</select>
	<select id="camp_list" resultType="cvo">
		select * from camp_list
	</select>
	<select id="promise_people_count" resultType="int">
		select count(*) from with_promise where t_idx = #{t_idx} and pm_state != -1 and	pm_state != 0 and pm_state != 3
	</select>
	<select id="to_detail" parameterType="String" resultType="tvo">
		select b.*, m.member_nickname, m.member_dob, m.member_img, m.member_grade, m.member_gender
		from board_with b
		left join members m on b.member_idx = m.member_idx 
		where t_idx = #{t_idx}
	</select>
	<update id="to_hit" parameterType="String">
		update board_with set t_hit = t_hit + 1 where t_idx = #{t_idx}
	</update>
	<update id="write_count" parameterType="String">
		update members set member_with = member_with + 1 where member_idx = #{member_idx}
	</update>
	<select id="writeAll_count" parameterType="String" resultType="Map">
		select member_grade, member_free, member_with, member_camp from members where member_idx = #{member_idx} 
	</select>
	<update id="member_grade_update" parameterType="tvo">
		update members set member_grade = #{member_grade} where member_idx = #{member_idx}
	</update>
	<insert id="to_insert" parameterType="tvo">
		insert into board_with(member_idx, t_subject, t_content, t_campname, t_address, t_startdate, t_enddate, t_numpeople, t_regdate, tf_name, t_mapx, t_mapy, t_induty, t_facltdivnm, t_mangedivnm)
		values(#{member_idx}, #{t_subject}, #{t_content}, #{t_campname}, #{t_address}, #{t_startdate}, #{t_enddate}, #{t_numpeople}, sysdate(), #{tf_name}, #{t_mapx}, #{t_mapy}, #{t_induty}, #{t_facltdivnm}, #{t_mangedivnm})
	</insert>
	<select id="write_t_idx" resultType="int">
		select LAST_INSERT_ID() AS t_idx
	</select>
	<insert id="promise_insert" parameterType="tvo">
		insert into with_promise(t_idx, member_idx, pm_state, pm_master, pm_regdate)
		values(#{t_idx}, #{member_idx}, 1, 1, sysdate())
	</insert>
	<select id="camp_chk" parameterType="String" resultType="int">
		select count(*) from camp_list where replace(facltnm, ' ', '') = #{campName}
	</select>
	<select id="camp_detail" parameterType="String" resultType="cvo">
		select * from camp_list where replace(facltnm, ' ', '') = #{campName}
	</select>
	<select id="to_list_search" parameterType="Map" resultType="tvo">
	    select b.*, m.member_nickname, m.member_dob, m.member_img, m.member_grade, m.member_gender
	    from board_with b
	    join members m on b.member_idx = m.member_idx
	    where 
	    <choose>
	        <when test="searchType == '제목'">
	            b.t_subject like concat('%', #{searchKeyword}, '%')
	        </when>
	        <when test="searchType == '내용'">
	            b.t_content like concat('%', #{searchKeyword}, '%')
	        </when>
	        <when test="searchType == '캠핑지'">
	            b.t_campname like concat('%', #{searchKeyword}, '%')
	        </when>
	    </choose>
	    and b.t_active != 1
	    order by b.t_idx desc
		limit #{limit} offset #{offset}
	</select>
	<select id="promise_chk" parameterType="pvo" resultType="String">
		select pm_state from with_promise where t_idx = #{t_idx} and member_idx = #{member_idx}
	</select>
	<select id="pm_state_chk" parameterType="pvo" resultType="int">
		select count(*) from with_promise where t_idx = #{t_idx} and member_idx = #{member_idx} and pm_state = 3
	</select>
	<insert id="promise" parameterType="pvo">
		insert into with_promise(t_idx, member_idx, pm_regdate)
		values(#{t_idx}, #{member_idx}, sysdate())
	</insert>
	<delete id="promise_delete" parameterType="pvo">
		delete from with_promise where t_idx = #{t_idx} and member_idx = #{member_idx}
	</delete>
	<update id="to_update" parameterType="tvo">
		update board_with set t_subject = #{t_subject}, t_content = #{t_content}, t_campname = #{t_campname}, t_address = #{t_address}, t_startdate = #{t_startdate}, t_enddate = #{t_enddate}, t_numpeople = #{t_numpeople}, tf_name = #{tf_name}, t_mapx = #{t_mapx}, t_mapy = #{t_mapy}, t_induty = #{t_induty}, t_facltdivnm = #{t_facltdivnm}, t_mangedivnm = #{t_mangedivnm} where t_idx = #{t_idx}
	</update>
	<update id="to_delete" parameterType="String">
		update board_with set t_active = 1 where t_idx = #{t_idx}
	</update>
	<select id="promise_list" parameterType="String" resultType="pvo">
		select b.tf_name, b.t_startdate, b.t_enddate, b.t_campname, b.t_numpeople, p.*, m.member_img, m.member_dob, m.member_nickname, m.member_grade, m.member_gender
	    from with_promise p
	    join board_with b on p.t_idx = b.t_idx
	    join members m on p.member_idx = m.member_idx
	    where p.pm_state = 0 and p.t_idx in	(select t_idx from board_with where member_idx = #{memberIdx} and t_active = 0)
	</select>
	<update id="accept_promise" parameterType="String">
		update with_promise set pm_state = 1 where pm_idx = #{pm_idx}
	</update>
	<select id="promise_ok_my_count" parameterType="String" resultType="int">
		select count(*) from with_promise where member_idx = #{member_idx} and pm_state = 2
	</select>
	<update id="decline_promise" parameterType="String">
		update with_promise set pm_state = -1 where pm_idx = #{pm_idx}
	</update>
	<select id="history_count" parameterType="String" resultType="int">
		select count(*)
	    from with_promise p
	    join board_with b on p.t_idx = b.t_idx
	    join members m on p.member_idx = m.member_idx
	    where p.pm_master = 0 and p.t_idx in (select t_idx from board_with where member_idx = #{member_idx} and t_active = 0)
	</select>
	<select id="together_history" parameterType="Map" resultType="pvo">
		select b.t_startdate, b.t_enddate, b.t_campname, b.t_numpeople, p.*, m.member_img, m.member_dob, m.member_nickname, m.member_grade, m.member_gender
	    from with_promise p
	    join board_with b on p.t_idx = b.t_idx
	    join members m on p.member_idx = m.member_idx
	    where p.pm_master = 0 and p.t_idx in (select t_idx from board_with where member_idx = #{member_idx} and t_active = 0)
	    order by case when p.pm_state = 0 then 0 else 1 end, p.pm_idx desc
		limit #{limit} offset #{offset}
	</select>
	<select id="histor_send_count" parameterType="String" resultType="int">
		select count(*)
		from with_promise
		where member_idx = #{member_idx} and pm_master = 0
	</select>
	<select id="together_send_history" parameterType="Map" resultType="pvo">
		select b.t_startdate, b.t_enddate, b.t_campname, b.t_numpeople, p.t_idx, p.pm_state, p.pm_regdate, m.member_nickname, m.member_idx
	    from with_promise p
	    join board_with b on p.t_idx = b.t_idx
	    join members m on b.member_idx = m.member_idx
	    where p.member_idx = #{member_idx} and p.pm_master = 0
	    order by case when p.pm_state = 0 then p.pm_idx end desc,
	        	 case when p.pm_state != 0 then p.pm_idx end asc
	    limit #{limit} offset #{offset}
	</select>
	<select id="to_comment_list" parameterType="String" resultType="tcvo">
		select wc.*, m.member_nickname, m.member_img, m.member_grade
		from board_with_comment wc
		join members m on wc.member_idx = m.member_idx
		where wc.t_idx = #{t_idx}
		order by wc.wc_groups, wc.wc_step, wc.wc_lev desc
	</select>
	<select id="to_comment_same" parameterType="Map" resultType="int">
		select count(*) from board_with_comment where t_idx = #{t_idx} and wc_groups = #{wc_groups} and wc_step = #{wc_step} and wc_lev = #{wc_lev}
	</select>
	<select id="to_step_max" parameterType="Map" resultType="int">
    	select max(wc_step) from board_with_comment where t_idx = #{t_idx} and wc_groups = #{wc_groups}
	</select>
	<select id="group_list" parameterType="Map" resultType="tcvo">
		select * from board_with_comment where t_idx = #{t_idx} and wc_groups = #{wc_groups} and wc_step >= #{wc_step} order by wc_step
	</select>
	<update id="to_comment_gs_update" parameterType="Map">
		update board_with_comment set wc_step = wc_step + 1 where t_idx = #{t_idx} and wc_groups = #{wc_groups} and wc_step >= #{wc_step}
	</update>
	<insert id="to_comment_write" parameterType="tcvo">
	        <selectKey keyProperty="wc_groups" resultType="String" order="BEFORE">
	            select IFNULL(MAX(wc_groups), 0) + 1 from board_with_comment where t_idx = #{t_idx}
	        </selectKey>
	        insert into board_with_comment (t_idx, member_idx, wc_content, wc_groups, wc_regdate)
	        values (#{t_idx}, #{member_idx}, #{wc_content}, #{wc_groups}, sysdate())
	</insert>
	<insert id="to_comment_in_write" parameterType="tcvo">
        insert into board_with_comment (t_idx, member_idx, wc_content, wc_groups, wc_step, wc_lev, wc_regdate)
        values (#{t_idx}, #{member_idx}, #{wc_content}, #{wc_groups}, #{wc_step}, #{wc_lev}, sysdate())
	</insert>
	<update id="to_comment_delete" parameterType="String">
		update board_with_comment set wc_active = 1 where wc_idx = #{wc_idx}
	</update>
	<update id="to_comment_update" parameterType="tcvo">
		update board_with_comment set wc_content = #{wc_content} where wc_idx = #{wc_idx}
	</update>
	<select id="my_board_with_count" parameterType="String" resultType="int">
		select count(*)
	    from board_with bw
	    join with_promise wp on bw.t_idx = wp.t_idx
	    where wp.member_idx = #{member_idx} and bw.t_active = 0 and bw.t_startdate > now()
	</select>
	<select id="promise_ing" parameterType="Map" resultType="tvo">
	    select bw.*, wp.pm_state, wp.pm_master
	    from board_with bw
	    join with_promise wp on bw.t_idx = wp.t_idx
	    where wp.member_idx = #{member_idx} and bw.t_active = 0 and bw.t_startdate > now()
	    order by bw.t_startdate desc limit #{limit} offset #{offset}
	</select>
	<select id="promise_people_detail" parameterType="String" resultType="pvo">
	    select wp.*, m.member_img, m.member_dob, m.member_nickname, m.member_grade, m.member_gender
	    from with_promise wp 
	    join members m on wp.member_idx = m.member_idx
	    where wp.t_idx = #{t_idx} and wp.pm_state in (1, 2)
	    order by wp.pm_master desc
	</select>
	<select id="star_rating_check" parameterType="srvo" resultType="int">
		select count(*) from star_rating where t_idx = #{t_idx} and give_member_idx = #{give_member_idx} and take_member_idx = #{take_member_idx}
	</select>
	<update id="promise_ban_member" parameterType="pvo">
		update with_promise set pm_state = 3 where member_idx = #{member_idx} and t_idx = #{t_idx}
	</update>
	<select id="my_board_with_ready_count" parameterType="String" resultType="int">
		select count(*)
	    from board_with bw
	    join with_promise wp on bw.t_idx = wp.t_idx
	    where wp.member_idx = #{member_idx} and bw.t_active = 0 and bw.t_startdate &lt;= now() and bw.t_enddate >= now()
	</select>
	<select id="promise_ready" parameterType="Map" resultType="tvo">
		select bw.*, wp.pm_state, wp.pm_master
	    from board_with bw
	    join with_promise wp on bw.t_idx = wp.t_idx
	    where wp.member_idx = #{member_idx} and bw.t_active = 0 and bw.t_startdate &lt;= now() and bw.t_enddate >= now()
	    order by bw.t_startdate desc limit #{limit} offset #{offset}
	</select>
	<select id="my_board_with_end_count" parameterType="String" resultType="int">
		select count(*)
	    from board_with bw
	    join with_promise wp on bw.t_idx = wp.t_idx
	    where wp.member_idx = #{member_idx} and bw.t_active = 0 and bw.t_active = 0 and bw.t_enddate &lt; now()
	</select>
	<select id="promise_End" parameterType="Map" resultType="tvo">
		select bw.*, wp.pm_state, wp.pm_master
	    from board_with bw
	    join with_promise wp on bw.t_idx = wp.t_idx
	    where wp.member_idx = #{member_idx} and bw.t_active = 0 and bw.t_active = 0 and bw.t_enddate &lt; now()
	    order by bw.t_startdate desc limit #{limit} offset #{offset}
	</select>
	<update id="enddate_update" parameterType="String">
		update board_with set t_enddate = sysdate() where t_idx = #{t_idx}
	</update>
	<update id="confirm_partner" parameterType="pvo">
		update with_promise set pm_state = 2, pm_regdate_ok = sysdate() where t_idx = #{t_idx} and member_idx = #{member_idx}
	</update>
	<select id="end_camp_chk" parameterType="String" resultType="int">
		SELECT wp.t_idx
		FROM with_promise wp
		JOIN board_with bw ON wp.t_idx = bw.t_idx
		WHERE wp.member_idx = #{member_idx}
		AND wp.pm_state = 1
		AND bw.t_enddate > NOW();
	</select>	
	<update id="wp_state_update" parameterType="String">
		
	</update>
</mapper>