<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE mapper SYSTEM "file:///Users/meekim/Downloads/mybatis-3-mapper.dtd"> -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bomi">
<resultMap id="ChatVOResultMap" type="chvo">
    <id property="msg_idx" column="msg_idx"/>
    <result property="msg_content" column="msg_content"/>
    <result property="send_nick" column="send_nick"/>
    <result property="reci_nick" column="reci_nick"/>
    <result property="send_date" column="send_date"/>
    <result property="msg_read" column="msg_read"/>   
</resultMap>
<select id="faq_lists" resultType="fvo">
select * from faq where faq_status=1 order by faq_idx 
</select>
<select id="faq_lists2" resultType="fvo">
select * from faq2 where faq_status=1 order by faq_idx
</select>

<select id="getPw" resultType="mvo" parameterType="String">
select * from members where member_id=#{member_id}
</select>

<select id="getUser" resultType="mvo" parameterType="String">
select * from members where member_idx=#{member_idx}
</select>

<update id="updateUser" parameterType="mvo" >
update members set member_nickname=#{member_nickname}, member_phone=#{member_phone}, member_email=#{member_email}, 
	member_img=#{member_img} where member_idx= #{member_idx}
</update>

<update id="updatePw" parameterType="mvo" >
update members set member_pwd = #{member_pwd} where member_idx = #{member_idx}
</update>

<delete id="getDeleteUser" parameterType="String">
 delete from members where member_idx=#{member_idx}
</delete>

<select id="getOne" resultType="qvo" parameterType="String">
select * from qna where qna_idx=#{qna_idx}
</select>

<update id="modiQna" parameterType="String" >
update qna set qna_title=#{qna_title}, qna_content=#{qna_content} where qna_idx=#{qna_idx}
</update>
<!--  
<select id="getlist" resultType="tvo" parameterType="Map">
select * from board_with where member_idx=#{member_idx} order by t_idx desc LIMIT 4
</select>
-->
<insert id="upQna" parameterType="qvo">
insert into qna(member_idx, qna_title, qna_content, qna_date, qna_status)
values(#{member_idx},#{qna_title},#{qna_content}, sysdate(), 0)
</insert>

<select id="getQnas" resultType="qvo" parameterType="Map">
select * from qna where member_idx=#{member_idx} order by qna_idx desc limit #{limit} offset #{offset}
</select>

<select id="count" resultType="int" parameterType="String">
select count(*) from qna where member_idx=#{member_idx}
</select>

<insert id="addChat" parameterType="chvo">
insert into m_chat(msg_room, room_name, send_idx,send_nick, reci_nick, send_date, msg_content, msg_read)
values(#{msg_room},#{room_name},#{send_idx}, #{send_nick},#{reci_nick}, #{send_date},#{msg_content}, 1)
</insert>

<select id="getRooms" resultType="chvo">
SELECT * FROM m_chat WHERE msg_room REGEXP CONCAT('^', #{member_idx}, '-|-', #{member_idx}, '$')
</select>

<select id="getMaxMsgIdxRoom" resultMap="ChatVOResultMap">
    SELECT *
    FROM m_chat
    WHERE msg_room = #{room}
    ORDER BY msg_idx DESC
    LIMIT 1
</select>

<select id="getRoom" parameterType="String" resultType="chvo">
select * from m_chat where msg_room=#{msg_room} ORDER BY msg_idx DESC   
</select>

<update id="msgRead" parameterType="String">
 update m_chat set msg_read=0
</update>

<select id="getFavList" parameterType="String" resultType="hvo">
 select * from camp_heart where member_idx=#{member_idx}
</select>

<select id="getBoard1" parameterType="String" resultType="cbvo">
 select * from board_free where member_idx=#{member_idx} order by b_idx DESC
</select>

<select id="getBoard2" parameterType="String" resultType="cgbvo">
 select * from board_camp where member_idx=#{member_idx} order by cp_idx DESC
</select>

<select id="getCampDetail" parameterType="String" resultType="cvo">
 select * from camp_list where contentid=#{contentid}
</select>
<select id="getBoard1ByIdx" parameterType="String" resultType="cbvo">
 select * from board_free where b_idx=#{board_idx}
</select>
<select id="getBoard2ByIdx" parameterType="String" resultType="cgbvo">
 select * from board_camp where cp_idx=#{board_idx} 
</select>

<select id="getReviews" parameterType="String" resultType="rvo">
 select * from camp_review where member_idx=#{member_idx} 
</select>

</mapper>