<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insert" parameterType="mvo">
		insert into members(member_id, member_name, member_pwd, member_nickname, member_dob, member_phone, member_email, member_regdate)
			values(#{member_id}, #{member_name},#{member_pwd},#{member_nickname},#{member_dob}, #{member_phone},#{member_email}, sysdate())
	</insert>
	
	<select id="idchk" parameterType="String" resultType="int">
 		select count(*) from members where member_id=#{member_id}
 	</select>
 	
 	<select id="login" parameterType="mvo" resultType="mvo">
 		select * from members where member_id=#{member_id}
 	</select>
 	
 	<select id="findPwd" parameterType="mvo" resultType="mvo">
		select * from members where member_id=#{member_id}
	</select>
	
	<update id="tempPwdUpdate" parameterType="mvo">
         update members
         set member_pwd=#{member_pwd}
         where member_id = #{member_id}
    </update>
    
    <select id="findId" parameterType="String" resultType="mvo">
		select * from members where member_name=#{member_name}
	</select>
	
	<select id="nickNameChk" parameterType="String" resultType="int">
 		select count(*) from members where member_nickname=#{member_nickname}
 	</select>
</mapper>