<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joy">
    <select id="getMemberCounts" resultType="avo">
        SELECT
            (SELECT count(member_idx) FROM members) AS totalMembers,
            (SELECT count(member_idx) FROM members WHERE member_regdate = now()) AS todayMembers,
            (SELECT count(member_idx) FROM members WHERE member_active = 0) AS unactiveMembers
    </select>

    <select id="boardmix" resultType="avo">
        SELECT count(b_idx) AS totalb_idx, 
        count(t_idx) AS totalt_idx
        ,count(cp_idx) AS totalcp_idx
        FROM  members m
            inner join board_free b on m.member_idx = b.member_idx 
            inner join board_with w on m.member_idx = w.member_idx 
            inner join board_camp c on m.member_idx = c.member_idx 
    </select>
    	
    	<select id="adminmainqna" resultType="int">
        SELECT count(pm_idx) AS totalpm_idx 
        FROM m_promise 
    </select>
    
    <select id="adminmainmatch" resultType="int">
        SELECT count(qna_idx) AS totalqnl 
        FROM qna 
        WHERE qna_status = 0
    </select>
    
    <select id="adminmainreport" resultType="int">
        SELECT count(report_num) AS totalreport 
        FROM admin_report 
        WHERE report_date = now()
    </select>
    <select id="adminmemberreport" resultType="adminmvo">
        SELECT * 
        FROM members
        WHERE member_idx =1
    </select>
    <select id="boardall" resultType="adminmvo">
	    SELECT *
	    FROM  members m
	        inner join board_free b on m.member_idx = b.member_idx 
	        inner join board_camp c on m.member_idx = c.member_idx 
	    WHERE m.member_idx = 1
	</select>

     <select id="reportall" resultType="int">
        SELECT count(member_idx)
        FROM admin_report
        WHERE member_idx =1
    </select>
</mapper>
