<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jun">
	<select id="getCampInfo" resultType="cvo">
		select * from camp_list where contentid = #{contentid}
	</select>
	<insert id="addReview" parameterType="rvo">
		insert into camp_review(member_idx,contentid,member_nickname,r_comment,rating,member_img,r_regdate)
		values(#{member_idx},#{contentid},#{member_nickname},#{r_comment},#{rating},#{member_img},sysdate())
	</insert>
	<select id="loadReview" resultType="rvo">
		select * from camp_review where contentid = #{contentid}
	</select>
	<update id="updateHit" parameterType="cvo">
		update camp_list set hit= hit+1 where contentid = #{contentid}
	</update>
	<insert id="addHeart" parameterType="Map">
		insert into camp_heart (member_idx,contentid)
		values(#{member_idx},#{contentid})
	</insert>
	<select id="checkHeart" parameterType="Map" resultType="String">
		select * from camp_heart where member_idx=#{member_idx} and contentid = #{contentid}	
	</select>
	<delete id="delHeart" parameterType="Map">
		delete from camp_heart where member_idx=#{member_idx} and contentid = #{contentid}
	</delete>
<select id="searchDetail" parameterType="Map" resultType="cvo">
    select *
    from camp_list 
    <where>
        <if test="keyword != null and keyword != ''">
            AND (facltnm LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="lctCl != null and lctCl != ''">
            AND lctCl = #{lctCl}
        </if>
        <if test="induty != null and induty != ''">
            AND induty = #{induty}
        </if>
        <if test="sbrscl != null and sbrscl != ''">
            AND sbrscl = #{sbrscl}
        </if>
    </where>
        limit #{limit} offset #{offset}
</select>
<select id="searchCount" parameterType="Map" resultType="int">
    select count(*)
    from camp_list 
    <where>
        <if test="keyword != null and keyword != ''">
            AND (facltnm LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="lctCl != null and lctCl != ''">
            AND lctCl = #{lctCl}
        </if>
        <if test="induty != null and induty != ''">
            AND induty = #{induty}
        </if>
        <if test="sbrscl != null and sbrscl != ''">
            AND sbrscl = #{sbrscl}
        </if>
    </where>
</select>
</mapper>