@charset "UTF-8";

a { 
	text-decoration: none;
}

table{
	width: 800px; 
	border-collapse:collapse; 
	text-align: center;
}

table,th,td{
	border: 1px solid black; 
	padding: 5px;
	border-collapse: collapse;
}

div{
	width: 800px; 
	margin:auto; 
	text-align: center;
}

#inputId{
	border-radius: 5px;
	padding: 0.5rem 0.9rem;
	background: #003300;
	font-weight: bold;
	color: white;
}

#cancelId{
	border-radius: 5px;
	padding: 0.5rem 0.9rem;
	background: #003300;
	font-weight: bold;
	color: white;
}

input[type="button"]:hover, input[type="reset"]:hover {
    background-color: #005500;
}
	
/*summernote toolbar 수정*/
.note-btn-group{width: auto;}
.note-toolbar{width: auto;}