@charset "UTF-8";
* {
	font-size: 18px;
}

#img_box {
	width: 80%;
	height: 715px;
	margin-left: 195px;
	margin-top: 10px;
}

#detail_img img {
	width: 370px;
	height: 340px;
}

.camp_detail_wrap h4 {
	width: 80%;
	height: 50px;
	background-color: #FFBA34;
	text-align: center;
	line-height: 50px;
}

#detail_img {
	width: 300px;
	height: 300px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	justify-items: center;
}

.camp_detail_second_title {
	width: 80%;
	height: 50px;
	background-color: #FFBA34;
	text-align: left;
	line-height: 50px;
	font-size: 20px;
	margin: 0 auto;
}

#map {
	width: 80%;
	height: 600px;
	margin-left: 190px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.detail_info_1 {
	margin-left: 190px;
}

#detail_button {
    position: absolute;
    left: 1349px;
    top: 870px;
}


.camp_intro {
	width: 90%;
	height: 300px;
}

#camp_item_g {
	width: 80%;
	height: 670px;
	margin-left: 190px;
	background-color: #FFFDDE;
	border-radius: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#camp_item_g li {
	display: inline-block;
    list-style-type: none;
    margin: 20px;
    padding: 52px;
    text-align: center;
    background-color: #FFFAA5;
    border-radius: 60px;
    width: 260px;
    height: 220px;
}

#camp_item_g img {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
}

#camp_item_g span {
    display: block;
    margin-top: 10px;
    font-size: large;
}
#review_form fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#review_form fieldset legend{
    text-align: right;
}
#review_form input[type=radio]{
    display: none;
}
#review_form label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#review_form label:hover{
    text-shadow: 0 0 0 #FFD700;
}
#review_form label:hover ~ label{
    text-shadow: 0 0 0 #FFD700;
}
#review_form input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #FFD700;
}
#r_comment {
    width:1520px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
#review_section{
	margin-left : 190px;
}
#comment_list {
    margin-top: 20px;
}

#comment_list div {
	width:80%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-left : 190px;
}

#comment_list p {
    margin: 0;
    padding: 2px 40px 35px;
    line-height: 30px;
}

#comment_list img {
	border : 2px solid black;
	border-radius: 100px;
	width: 65px;
	height: 65px;
	float: left;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
  	height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

#detail_button input[type="button"]{
	height: 40px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 20px;
}
.review_submit{
	height: 40px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
    left: 1380px;
}
.left_button {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    border-radius: 100px;
    z-index: 1;
}

.right_button {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-radius: 100px;
    z-index: 1;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    height: auto;
    margin-top: 50px;
}
.heart-button{
    width: 30px;
}
