@charset "UTF-8";

:root{
  --primary-color: #032805;
  --primary-color-yellow: #FFBA34;
  --primary-color-light: #FFFDDE;
  --text-white: #fff;
  --text-black: #000;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mypage{
  width: 70%;
  margin: 0 auto;
  transform: translateY(10rem);
}

/* align contents with grid  */
.my_camping{
text-align: center;
  margin: 3rem;
}
.camping_container{
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.fav_list{
position: relative;
  width: 12rem;
  height: 15rem;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: .7rem;
  border-radius: 1rem;
  padding: 1rem .5rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
   place-self: center;
   
}
.nolist{
	text-align: center;
	margin: 5rem;

}

.list_summery{
  margin-left: .5rem;

}
.list_addr1{
	padding: 2px;
	font-weight: 700;
}
.list_rest_addr{
	font-size: .7rem;
	padding-bottom: 1rem;
	
}

.list_item {
    position: relative;
    width: 180px; 
   overflow: hidden;
}

.list_image_container {
    position: relative;
    width: 180px; 
    height: 120px; 
     object-fit: cover;
}

.camping_img {
    display: block;
    width: 100%;
    hegit: 120px;
    height: auto;
    opacity: 0.7; 
}

.list_text_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 1; 
}

.types{
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
}
.list_type{
height: 1.2rem;
padding: 1px;
text-align: center;
border-radius: .4rem;
line-height: 1rem;
font-size: .8rem;
white-space: nowrap;
margin-right: 10px;
}
.btn-heart{
	position: absolute;
	top: 10px;
	right:10px;
	background-color:transparent;
}
.btn{
  background-color: var(--text-white);
  border: 1px solid var(--text-black);
  width: 4rem;
  height: 1.5rem;
  border-radius: 2px;
  margin: 2px;
  transition: all .3s ease-in;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.btn:hover{
  background-color: var(--primary-color-light);
  color:var(--primary-color);
  border: 1px solid var(--text-black);
   border-radius: 2px;
}
.type_yellow{
  background-color:var(--primary-color-yellow) ;
}
.type_green{
  background-color: var(--primary-color);
  color: var(--text-white);
}
.type_light{
  background-color: var(--primary-color-light);
}
.list_name{
  font-weight: 800;
  font-size: .8rem;
  word-wrap: break-word;
}
