:root {
  --primary-color: #032805;
  --primary-color-light: #fffdde;
  --text-white: #fff;
  --text-black: #000;
}
* {
  margin: 0;
  padding: 0;
}

.my_title {
  text-align: center;
  margin: 2rem;
  margin-bottom: 6rem;
  color: var(--primary-color);
}
.user_info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_img_container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 2rem;
  width: 10rem;
  height: 10rem;
}
.file-container {
  position: relative;
  bottom: 0;
}
.file {
  position: absolute;
  top: 0;
  left: -20%;
}

.user_info_container {
  margin: 1rem 1.5rem;
  position: relative;
}
.user_img {
  width: 99px;
  height: 99px;
  border: 1px solid var(--text-black);
  border-radius: 50%;
  overflow: hidden;
   display: flex;
  justify-content: center; 
  align-items: center;
}

#user_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  border: 1px solid var(--text-black);
  background-color: var(--text-white);
  padding: 2px 10px;
  border-radius: 2px;
  cursor: pointer;
}

.detail {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.input {
  margin-left: 1.5rem;
  height: 1.5rem;
  width: 13rem;
}
.btn-check {
  position: absolute;
  right: -2.5rem;
  top: 6.7rem;
}
.btn_container {
  margin-left: 7rem;
  margin-right: 1rem;
}
.btn-userDelete {
  color: var(--text-white);
  background-color: var(--primary-color);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 100;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.hidden {
  opacity: 0;
}